﻿
@{
    ViewBag.Title = "Dashboard";
}
@Scripts.Render("~/bundles/angular/clientPOService")
@Scripts.Render("~/bundles/angular/OrderPOService")

@Scripts.Render("~/bundles/angular/DashboardService")
@Scripts.Render("~/bundles/angular/DashboardCtrl")
<div class="main-container" ng-controller="DashboardCtrl">
    <div class="container-fluid">
        <div class="client-order-list">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="page-title">Dashboard</h1>
                </div>
            </div>
            <div class="row">
                <ul class="client-order-wrap nav nav-tabs">
                    <li class="col-sm-6 col-md-4" data-toggle="tab" href="#order">
                        <div class="panel panel-tile order-tile">
                            <div class="panel-body">
                                <div class="title-wrap">
                                    <div class="title-total">
                                        <div class="title">Rejected client PO</div>
                                        <div class="count">{{dashboard.rejectedPOs.length}}</div>
                                    </div>
                                    <div class="panel-image">
                                        <div class="image-bg">
                                            <i class="fa fa-usd" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-6 col-md-4" data-toggle="tab" href="#client">
                        <div class="panel panel-tile client-tile">
                            <div class="panel-body">
                                <div class="title-wrap">
                                    <div class="title-total">
                                        <div class="title">Rejected PO</div>
                                        <div class="count">{{dashboard.rejectedOrders.length}}</div>
                                    </div>
                                    <div class="panel-image">
                                        <div class="image-bg">
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-6 col-md-4" data-toggle="tab" href="#approvedPO">
                        <div class="panel panel-tile order-tile">
                            <div class="panel-body">
                                <div class="title-wrap">
                                    <div class="title-total">
                                        <div class="title">Approved client PO</div>
                                        <div class="count">{{dashboard.approvedPOs.length}}</div>
                                    </div>
                                    <div class="panel-image">
                                        <div class="image-bg">
                                            <i class="fa fa-usd" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-6 col-md-4" data-toggle="tab" href="#approvedOrder">
                        <div class="panel panel-tile client-tile">
                            <div class="panel-body">
                                <div class="title-wrap">
                                    <div class="title-total">
                                        <div class="title">Approved PO</div>
                                        <div class="count">{{dashboard.approvedOrders.length}}</div>
                                    </div>
                                    <div class="panel-image">
                                        <div class="image-bg">
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-6 col-md-4" data-toggle="tab" href="#vendor">
                        <div class="panel panel-tile vendor-tile">
                            <div class="panel-body">
                                <div class="title-wrap">
                                    <div class="title-total">
                                        <div class="title">Pending Deliveries</div>
                                        <div class="count">{{dashboard.pendingDeliveries.length}}</div>
                                    </div>
                                    <div class="panel-image">
                                        <div class="image-bg">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="order" class="order-list-view tab-pane fade in active">
                <table width="100%" class="table table-curved">
                    <thead>
                        <tr>
                            <th colspan="7" class="table-title">REJECTED CLIENT PO</th>
                        </tr>
                        <tr class="table-headline">
                            <td>PO No.</td>
                            <td>Date</td>
                            <td>Client</td>
                            <td>Vendor</td>
                            <td>Paper Type</td>
                            <td>Comments</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody ng-repeat="rejectedPO in dashboard.rejectedPOs|filter:{client_id:clientSearchId,prefered_vendor_id:vendorSearchId,po_number:poSearchNumber,date_received:poSearchDateReceived}">

                        <tr class="accordion-toggle" data-toggle="collapse" data-target="#kraft{{rejectedPO.id}}">
                            <td>{{rejectedPO.po_number}}</td>
                            <td>{{rejectedPO.date_added}}</td>
                            <td>{{rejectedPO.clientName}}</td>
                            <td>{{rejectedPO.vendorName}}</td>
                            <td>{{rejectedPO.paper_type==1?'Kraft':'Duplex'}}</td>
                            <td>{{rejectedPO.comments}}</td>
                            <td>
                                <a href="javascript:void(0)" ng-click="completeRejectedPO(rejectedPO,$index)">Mark Done</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9" class="inner-table-wrap" ng-show="rejectedPO.client_po_detail.length>0">
                                <div class="accordion-body collapse" id="kraft{{rejectedPO.id}}">
                                    <table class="table table-curved inner-table">
                                        <thead>
                                            <tr>
                                                <th>Quality</th>
                                                <th>{{rejectedPO.paper_type==2?'Length':'Size'}}</th>
                                                <th ng-if="rejectedPO.paper_type==2">Breadth</th>
                                                <th>Size Type</th>
                                                <th ng-if="rejectedPO.paper_type==2">Grain</th>
                                                <th>GSM</th>
                                                <th>Quantity</th>
                                                <th>Unit</th>
                                                <th>Rate</th>
                                                <th>Rate Type</th>
                                                <th class="delivery-date-th">Delivery Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-cloak ng-repeat="type in rejectedPO.client_po_detail" ng-if="!type.IsDeleted">
                                            <tr ng-show="!type.isHide">
                                                <td>{{type.quality}}</td>
                                                <td>{{type.paper_length}}</td>
                                                <td ng-if="rejectedPO.paper_type==2">{{type.paper_breadth}}</td>
                                                <td>{{type.size=='1'?'inch':'cm'}}</td>
                                                <td ng-if="rejectedPO.paper_type==2">{{type.grainVal}}</td>
                                                <td>{{type.gsm}}</td>
                                                <td>{{type.quantity}}</td>
                                                <td>{{typeName(type.unit,unitTypes,2)}}</td>
                                                <td>{{type.rate}}</td>
                                                <td>{{typeName(type.rate_type_id,rateTypes,1)}}</td>
                                                <td>{{type.delivery_date}}</td>
                                                <td>
                                                    <a class="edit" ng-click="editDetail($index,type,rejectedPO.paper_type)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    <a class="delete" ng-show="type.status_id==1&&type.is_updated!=1" ng-click="deleteDetail(type,rejectedPO.client_po_detail)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                            <tr class="edit-row" ng-show="type.isHide">
                                                <td><input type="text" class="form-control" ng-model="type.quality"></td>
                                                <td><input type="text" class="form-control" ng-change="checkChange(type)" ng-model="type.paper_length" maxlength="7" onkeypress='return isNumber(event)'></td>
                                                <td ng-if="rejectedPO.paper_type==2"><input type="text" class="form-control" ng-change="checkChange(type)" ng-model="type.paper_breadth" maxlength="7" onkeypress='return isNumber(event)'></td>
                                                <td>
                                                    <select class="form-control" id="SizeType" ng-model="type.size" ng-options="size.id as size.name for size in SizeType"></select>
                                                </td>
                                                <td ng-if="rejectedPO.paper_type==2">
                                                    @*<input type="text" class="form-control" ng-model="type.bf_grain" ng-if="client.paper_type==1">*@
                                                    <label class="form-control">{{type.grainVal}}</label>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="type.gsm" maxlength="7" onkeypress='return isNumber(event)'>
                                                    @*<span class="errormsg">GSM is required</span>*@
                                                </td>
                                                <td><input type="text" class="form-control" ng-model="type.quantity" maxlength="7" onkeypress='return isNumber(event)'></td>
                                                <td>
                                                    <select class="form-control" id="UnitType" ng-model="type.unit"
                                                            ng-options="unit.id as unit.unit_type1 for unit in unitTypes"></select>
                                                </td>
                                                <td><input type="text" class="form-control" ng-model="type.rate" maxlength="7" onkeypress='return isNumber(event)'></td>
                                                <td>
                                                    <select class="form-control" id="RateType" ng-model="type.rate_type_id"
                                                            ng-options="rate.id as rate.rate_type1 for rate in rateTypes"></select>
                                                </td>
                                                <td class="delivery-date-td">
                                                    <input type="text" id="dateId7{{$index}}" class="form-control" ng-model="type.delivery_date" ng-readonly="true" placeholder="DD-MM-YYYY" customzdatetime>
                                                    <label for="dateId7{{$index}}" class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <a class="edit" ng-click="addUpdateDetail($index,type)"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>

            <div id="client" class="order-list-view tab-pane fade">
                <table width="100%" class="table table-curved">
                    <thead>
                        <tr>
                            <th colspan="7" class="table-title">REJECTED PO</th>
                        </tr>
                        <tr class="table-headline">
                            <td>PO No.</td>
                            <td>Date</td>
                            <td>Client</td>
                            <td>Vendor</td>
                            <td>Paper Type</td>
                            <td>Comments</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody ng-repeat="rejectedOrder in dashboard.rejectedOrders|filter:{client_id:clientSearch,vendor_id:vendorSearch,po_number:poNumberSearch}" ng-show="rejectedOrder.vendor_po_detail.length>0">
                        <tr class="accordion-toggle" ng-class="{'label-success': order.statusname == 'Rejected'} " data-toggle="collapse" data-target="#kraft{{rejectedOrder.id}}">
                            <td>{{rejectedOrder.po_number}}</td>
                            <td>{{rejectedOrder.date_added}}</td>
                            <td>{{rejectedOrder.clientname}}</td>
                            <td>{{rejectedOrder.vendorname}}</td>
                            <td>{{rejectedOrder.PaperType==1?'Kraft':'Duplex'}}</td>
                            <td>{{rejectedOrder.comments}}</td>
                            <td>
                                <a href="javascript:void(0)" ng-click="completeRejectedOrder(rejectedOrder,$index)">Mark Done</a>
                            </td>
                        </tr>

                        <!--Inner Table-->
                        <tr >
                            <td colspan="8" class="inner-table-wrap">
                                <div class="accordion-body collapse" id="kraft{{rejectedOrder.id}}">
                                    <table class="table table-curved inner-table">
                                        <thead>
                                            <tr>
                                                <th>Size</th>
                                                <th>Quality</th>
                                                <th>Unit</th>
                                                <th>GSM</th>
                                                <th>Quantity</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-cloak ng-repeat="details in rejectedOrder.vendor_po_detail" ng-class="{'label-success': details.statusname == 'Rejected'} ">
                                                <td ng-if="!details.paper_breadth">{{details.paper_length}} </td>
                                                <td ng-if="details.paper_breadth">{{details.paper_length}} * {{details.paper_breadth}}</td>
                                                <td>{{details.quality}}</td>
                                                <td>{{details.unitname}}</td>
                                                <td>{{details.gsm}}</td>
                                                <td ng-show="details.status_id!=1">
                                                    {{details.quantity}}
                                                </td>
                                                <td ng-show="details.status_id==1">
                                                    <input type="text" name="quantity" ng-model="details.quantity" class="form-control" maxlength="7" onkeypress='return isNumber(event)'>
                                                </td>
                                                <td>
                                                    <a class="edit" ng-show="details.status_id!=1" ng-click="editOrder(details)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    <a class="delete" ng-show="details.status_id!=1" ng-click="deleteRejectedOrder(details,rejectedOrder,$index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                    <a class="edit" ng-show="details.status_id==1" ng-click="addUpdateOrder($index,details)"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <!--------------->

                    </tbody>

                </table>

            </div>
            <div id="approvedOrder" class="order-list-view tab-pane fade">
                <table width="100%" class="table table-curved">
                    <thead>
                        <tr>
                            <th colspan="6" class="table-title">APPROVED PO</th>
                        </tr>
                        <tr class="table-headline">
                            <td>PO No.</td>
                            <td>Date</td>
                            <td>Client</td>
                            <td>Vendor</td>
                            <td>Paper Type</td>
                            <td>Comments</td>
                        </tr>
                    </thead>
                    <tbody ng-repeat="approvedOrder in dashboard.approvedOrders|filter:{client_id:clientSearch,vendor_id:vendorSearch,po_number:poNumberSearch}">
                        <tr class="accordion-toggle" ng-class="{'label-success': approvedOrder.statusname == 'Approved'} " data-toggle="collapse" data-target="#kraft{{approvedOrder.id}}">
                            <td>{{approvedOrder.po_number}}</td>
                            <td>{{approvedOrder.date_added}}</td>
                            <td>{{approvedOrder.clientname}}</td>
                            <td>{{approvedOrder.vendorname}}</td>
                            <td>{{approvedOrder.PaperType==1?'Kraft':'Duplex'}}</td>
                            <td>{{approvedOrder.comments}}</td>
                        </tr>

                        <!--Inner Table-->
                        <tr>
                            <td colspan="8" class="inner-table-wrap">
                                <div class="accordion-body collapse" id="kraft{{approvedOrder.id}}">
                                    <table class="table table-curved inner-table">
                                        <thead>
                                            <tr>
                                                <th>Size</th>
                                                <th>Quality</th>
                                                <th>Unit</th>
                                                <th>GSM</th>
                                                <th>Quantity</th>
                                                <th>Supplied Quantity</th>
                                                <th>Status</th>

                                                @*<th></th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-cloak ng-repeat="details in approvedOrder.vendor_po_detail" ng-class="{'label-success': details.statusname == 'Approved'} ">
                                                <td ng-if="!details.paper_breadth">{{details.paper_length}} </td>
                                                <td ng-if="details.paper_breadth">{{details.paper_length}} * {{details.paper_breadth}}</td>
                                                <td>{{details.quality}}</td>
                                                <td>{{details.unitname}}</td>
                                                <td>{{details.gsm}}</td>
                                                <td>{{details.quantity}}</td>
                                                <td>{{details.suppliedQuantitySum}}</td>
                                                <td>{{details.statusname}}</td>
                                                @*<td>

                                                        <a class="edit"  ng-click="editInvoice(details,order)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    </td>*@
                                                @*ng-show="!details.isEdit"*@
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <!--------------->
                    </tbody>

                </table>

            </div>
            <div id="approvedPO" class="order-list-view tab-pane fade">
                <table width="100%" class="table table-curved">
                    <thead>
                        <tr>
                            <th colspan="7" class="table-title">APPROVED CLIENT PO</th>
                        </tr>
                        <tr class="table-headline">
                            <td>PO No.</td>
                            <td>Date</td>
                            <td>Client</td>
                            <td>Vendor</td>
                            <td>Paper Type</td>
                            <td>Comments</td>
                        </tr>
                    </thead>
                    <tbody ng-repeat="approvedPO in dashboard.approvedPOs|filter:{client_id:clientSearchId,prefered_vendor_id:vendorSearchId,po_number:poSearchNumber,date_received:poSearchDateReceived}">

                        <tr class="accordion-toggle" data-toggle="collapse" data-target="#kraft{{approvedPO.id}}">
                            <td>{{approvedPO.po_number}}</td>
                            <td>{{approvedPO.date_added}}</td>
                            <td>{{approvedPO.clientName}}</td>
                            <td>{{approvedPO.vendorName}}</td>
                            <td>{{approvedPO.paper_type==1?'Kraft':'Duplex'}}</td>
                            <td>{{approvedPO.comments}}</td>
                        </tr>
                        <tr>
                            <td colspan="9" class="inner-table-wrap" ng-show="approvedPO.client_po_detail.length>0">
                                <div class="accordion-body collapse" id="kraft{{approvedPO.id}}">
                                    <table class="table table-curved inner-table">
                                        <thead>
                                            <tr>
                                                <th>Quality</th>
                                                <th>{{approvedPO.paper_type==2?'Length':'Size'}}</th>
                                                <th ng-if="approvedPO.paper_type==2">Breadth</th>
                                                <th>Size Type</th>
                                                <th ng-if="approvedPO.paper_type==2">Grain</th>
                                                <th>GSM</th>
                                                <th>Quantity</th>
                                                <th>Unit</th>
                                                <th>Rate</th>
                                                <th>Rate Type</th>
                                                <th class="delivery-date-th">Delivery Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-cloak ng-repeat="type in approvedPO.client_po_detail" ng-if="!type.IsDeleted">
                                            <tr ng-show="!type.isHide">
                                                <td>{{type.quality}}</td>
                                                <td>{{type.paper_length}}</td>
                                                <td ng-if="approvedPO.paper_type==2">{{type.paper_breadth}}</td>
                                                <td>{{type.size=='1'?'inch':'cm'}}</td>
                                                <td ng-if="approvedPO.paper_type==2">{{type.grainVal}}</td>
                                                <td>{{type.gsm}}</td>
                                                <td>{{type.quantity}}</td>
                                                <td>{{typeName(type.unit,unitTypes,2)}}</td>
                                                <td>{{type.rate}}</td>
                                                <td>{{typeName(type.rate_type_id,rateTypes,1)}}</td>
                                                <td>{{type.delivery_date}}</td>
                                                <td>
                                                    <a class="edit" ng-click="editDetail($index,type,approvedPO.paper_type)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    <a class="delete" ng-show="type.status_id==1" ng-click="deleteDetail(type,approvedPO.client_po_detail)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                            <tr class="edit-row" ng-show="type.isHide">
                                                <td><input type="text" class="form-control" ng-model="type.quality"></td>
                                                <td><input type="text" class="form-control" ng-change="checkChange(type)" ng-model="type.paper_length" maxlength="7" onkeypress='return isNumber(event)'></td>
                                                <td ng-if="approvedPO.paper_type==2"><input type="text" class="form-control" ng-change="checkChange(type)" ng-model="type.paper_breadth" maxlength="7" onkeypress='return isNumber(event)'></td>
                                                <td>
                                                    <select class="form-control" id="SizeType" ng-model="type.size" ng-options="size.id as size.name for size in SizeType"></select>
                                                </td>
                                                <td ng-if="approvedPO.paper_type==2">
                                                    @*<input type="text" class="form-control" ng-model="type.bf_grain" ng-if="client.paper_type==1">*@
                                                    <label class="form-control">{{type.grainVal}}</label>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="type.gsm" maxlength="7" onkeypress='return isNumber(event)'>
                                                    @*<span class="errormsg">GSM is required</span>*@
                                                </td>
                                                <td><input type="text" class="form-control" ng-model="type.quantity" maxlength="7" onkeypress='return isNumber(event)'></td>
                                                <td>
                                                    <select class="form-control" id="UnitType" ng-model="type.unit"
                                                            ng-options="unit.id as unit.unit_type1 for unit in unitTypes"></select>
                                                </td>
                                                <td><input type="text" class="form-control" ng-model="type.rate" maxlength="7" onkeypress='return isNumber(event)'></td>
                                                <td>
                                                    <select class="form-control" id="RateType" ng-model="type.rate_type_id"
                                                            ng-options="rate.id as rate.rate_type1 for rate in rateTypes"></select>
                                                </td>
                                                <td class="delivery-date-td">
                                                    <input type="text" id="dateId7{{$index}}" class="form-control" ng-model="type.delivery_date" ng-readonly="true" placeholder="DD-MM-YYYY" customzdatetime>
                                                    <label for="dateId7{{$index}}" class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <a class="edit" ng-click="addUpdateDetail($index,type)"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>




                    </tbody>

                </table>

            </div>

            <div id="vendor" class="order-list-view tab-pane fade">
                <table width="100%" class="table table-curved">
                    <thead>
                        <tr>
                            <th colspan="6" class="table-title">PENDING DELIVERIES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-headline">
                            <td>PO No.</td>
                            <td>Delivery Date</td>
                            <td>Client</td>
                            <td>Vendor</td>
                            <td>Paper Type</td>

                        </tr>
                        <tr ng-repeat="delivery in dashboard.pendingDeliveries">
                            <td>{{delivery.number_po_}}</td>
                            <td>{{delivery.delivery_date}}</td>
                            <td>{{delivery.clientname}}</td>
                            <td>{{delivery.vendorname}}</td>
                            <td>{{delivery.PaperType==1?'Kraft':'Duplex'}}</td>

                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div><!--/.container-fluid-->
</div>

<script type="text/javascript">
    $(function () {
        $("#aDashboard").addClass("active");
    })
</script>