﻿
@{
    ViewBag.Title = "Report";
}

@Scripts.Render("~/bundles/angular/ReportService")
@Scripts.Render("~/bundles/angular/ReportCtrl")

<div class="main-container po-container" ng-controller="ReportCtrl">
    <div class="container-fluid">
        <div class="search-wrap">
            <!--/Title-Block-->
            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <h1 class="page-title">Search Reports</h1>
                </div>
                <div class="col-sm-4 col-md-4 pull-right">
                    <div class="save-button pull-right">
                        <button type="button" class="theme-btn" data-toggle="modal" data-target="#client-form" ng-click="showClient()">Add New PO</button>
                    </div>
                </div>
            </div>
            <form name="formPOSearch" ng-submit="search()">
                <div class="search-block">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                                <label class="control-label">Client</label>
                                <div class="input-box">
                                    <select class="form-control" id="client" ng-model="Report.client_id" ng-options="client.id as client.name for client in clients"></select>
                                </div>
                            </div>
                        </div>
                        
                       
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                                <label class="control-label">Quality</label>
                                <input type="text" class="form-control" ng-model="Report.quality" />
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                                <label class="control-label">GSM</label>
                                <input type="text" class="form-control" ng-model="Report.gsm" />
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                                <label class="control-label">Rate</label>
                                <input type="text" class="form-control" ng-model="Report.rate" />
                            </div>
                        </div>
                        
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                                <label class="control-label">PO Number</label>
                                <input type="text" class="form-control" ng-model="Report.po_number" />
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                                <label class="control-label">Vendor</label>
                                <div class="input-box">
                                    <select class="form-control" id="vendor" ng-model="Report.vendorId" ng-options="vendor.id as vendor.name for vendor in vendors"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                                <label class="control-label">Type</label>
                                <select class="form-control" id="Type" ng-model="Report.type" ng-change="changePaperType()" ng-options="type.id as type.name for type in Types"></select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                                <label class="control-label">From Date</label>
                                <div class="input-group">
                                    <input class="form-control"  id="datetimepicker2" data-date-format="dd/mm/yyyy" name="date1" type="text" onkeypress='return onlyBackspace(event)' placeholder="DD-MM-YYYY">
                                    <label for="datetimepicker2" class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                                <label class="control-label">To Date</label>
                                <div class="input-group">
                                    <input class="form-control" id="datetimepicker3" data-date-format="dd/mm/yyyy" name="date2" type="text" onkeypress='return onlyBackspace(event)' placeholder="DD-MM-YYYY">
                                    <label for="datetimepicker3" class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="form-group">
                                <label class="control-label">Invoice</label>
                                <input type="text" class="form-control" ng-model="Report.invoice" />
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-2 pull-right">
                            <div class="search-button">
                                <button type="submit" class="theme-btn">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" style="margin-bottom:25px; padding-right:25px;">
            <div class="col-sm-12 text-right">
                <button type="button" class="theme-btn print_btn" onclick="PrintElem($('.order-list-view')[0])">Print</button>
                </div>
            </div>

        <div class="order-list-view po-table-wrap">
            <table width="100%" class="table table-curved table-header">
                <thead>
                    <tr>
                        <th>Client PO No.</th>
                        <th>Vendor PO No.</th>
                        <th>Client</th>
                        <th>Vendor</th>
                        <th>Quality</th>
                        <th>GSM</th>
                        <th>Size</th>
                        <th>Order Qty</th>
                        <th>Supplied Qty</th>
                        <th>Rate</th>
                        <th>Unit</th>
                        <th>Invoice No.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="report in searchReports">
                        
                        <td>{{report.number}}</td>
                        <td>{{report.vendor_PO}}</td>
                        <td>{{report.client}}</td>
                        <td>{{report.vendor}}</td>
                        <td>{{report.quality}}</td>
                        <td>{{report.gsm}}</td>
                        <td>{{report.size}}</td>
                        <td>{{report.orderedQuantity}}</td>
                        <td>{{report.supplied_quantity}}</td>
                        <td>{{report.rate}}</td>
                        <td>{{report.unit}}</td>
                        <td>{{report.invoice_no}}</td>
                    </tr>

                </tbody>
            </table>
            
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker2').datepicker({
            viewMode: 'years',
            autoclose: true
        });
        $('#datetimepicker3').datepicker({
            viewMode: 'years',
            autoclose: true
        });
        $("#aReport").addClass("active");
    });

    function PrintElem(elem) {
        var mywindow = window.open('', 'PRINT', 'height=400,width=600');

        //mywindow.document.write('<html><head><title>Reports</title>');
        mywindow.document.write('<style>.table-curved{border-top: none;}.table-curved {border:1px solid #c1ccdb;margin:0;}th{padding:8px;background: #f1f4f8;color: #4e627c;font-size:14px;}td{padding:5px;border-top: solid #c1ccdb 1px;font-size:12px;}</style></head><body >');
        mywindow.document.write('<h1>Reports</h1>');
        mywindow.document.write(elem.innerHTML);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

        return true;
    }
</script>