﻿@using System.Security.Claims
@using System.Threading
@{
    ViewBag.Title = "ClientPO";
    var identity = (ClaimsIdentity)User.Identity; 
    var claimPO = identity.Claims.FirstOrDefault(c => c.Type == "PO" && c.Value == "1");
    var claimOrder = identity.Claims.FirstOrDefault(c => c.Type == "Order" && c.Value == "1");
    var claimInvoice = identity.Claims.FirstOrDefault(c => c.Type == "Invoice" && c.Value == "1");
    var claimUM = identity.Claims.FirstOrDefault(c => c.Type == "UM" && c.Value == "1");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"  />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="~/Scripts/angular-dragdrop.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    
    <script>
        var app = angular.module("app", ['ngDragDrop']);
    </script>
</head>
<body ng-app="app">

    <div class="page-container">
        <div class="side-nav-bar">
            <div class="sidebar-branding"> <a href="\Dashboard\Dashboard"><span class="logo-po">PO</span><span class="logo-management">Management</span></a> </div>
            <div class="side-navigation">
                <ul class="list-accordion">
                    <li><a href="/dashboard/Dashboard" id="aDashboard"><span class="nav-icon"><i class="fa fa-th-large" aria-hidden="true"></i></span><span class="nav-label">Dashboard</span></a></li>
                    <li><a href="/client/client" id="aClient"><span class="nav-icon"><i class="fa fa-user" aria-hidden="true"></i></span><span class="nav-label">Clients</span></a></li>
                    <li><a href="/vendor/vendor" id="aVendor"><span class="nav-icon"><i class="fa fa-users" aria-hidden="true"></i></span><span class="nav-label">Vendors</span></a></li>
                   @if (claimPO != null)
                   {
                     <li><a href="/client/createpo" id="aPO"><span class="nav-icon"><i class="fa fa-clone" aria-hidden="true"></i></span><span class="nav-label">Client PO</span></a></li>
                   }
                    @if (claimOrder != null)
                    {
                      <li><a href="/order/createorder" id="aOrder"><span class="nav-icon"><i class="fa fa-columns" aria-hidden="true"></i></span><span class="nav-label">Create PO</span></a></li>
                    }
                    @if (claimInvoice != null)
                    {
                       <li><a href="/invoice/invoice" id="aInvoice"><span class="nav-icon"><i class="fa fa-outdent" aria-hidden="true"></i></span><span class="nav-label">Invoice Details</span></a></li>
                    }

                       <li><a href="/report/report" id="aReport"><span class="nav-icon"><i class="fa fa-history" aria-hidden="true"></i></span><span class="nav-label">Reports</span></a></li>
                  @if (claimUM != null)
                  {
                      <li><a href="/user/index" id="aUser"><span class="nav-icon"><i class="fa fa-user-plus" aria-hidden="true"></i></span><span class="nav-label">User Management</span></a></li>
                  }
                </ul>
            </div>
        </div>
        <!--/.side-nav-bar-->
        <div class="section-content">
            <div class="header-bar">
                <div class="user-nav">
                    <ul>
                        <li class="dropdown" data-toggle="dropdown" href="#" class="clearfix dropdown-toggle waves-effect waves-block waves-classic" aria-expanded="false">
                            <span class="user-thumb"><i class="fa fa-user" aria-hidden="true"></i></span><span class="user-info">@Convert.ToString(Session["UserName"])</span><span class="down-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                            <ul role="menu" class="dropdown-menu fadeInUp">
                                <li><a href="javascript:void(0)" onclick="location.href='/account/LogOff'"><span class="user-nav-icon"><i class="fa fa-power-off"></i></span><span class="user-nav-label">Sign Out</span></a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/.header-bar-->
            @RenderBody()
            <!--/.main-container-->

        </div>
        <!--/sectio-content-->
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
    $(function () {;
        $('.table-content').slimScroll({
            color: '#185667',
            size: '5px',
            opacity: 0.7,
            wheelStep: 5,
            touchScrollStep: 75
        });
        $.fn.datepicker.defaults.format = "dd/mm/yyyy";
    });
    </script>
</body>
</html>
