﻿
@{
    ViewBag.Title = "Invoice";
}

@Scripts.Render("~/bundles/angular/InvoiceService")
@Scripts.Render("~/bundles/angular/InvoiceCtrl")

<div class="main-container invoice-container" ng-controller="InvoiceCtrl">
    <div class="container-fluid">
        <div class="search-wrap">
            <!--/Title-Block-->
            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <h1 class="page-title">Invoice Details</h1>
                </div>
            </div>
            <form name="formInvoice" ng-submit="searchInvoice()">
                <div class="search-block">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label class="control-label">Client Name</label>
                                <div class="input-box">
                                    <select class="form-control" id="client" ng-model="searchInvoice.client_id" ng-options="client.id as client.name for client in clients"></select>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label class="control-label">Vendor Name</label>
                                <div class="input-box">
                                    <select class="form-control" id="vendor" ng-model="searchInvoice.prefered_vendor_id" ng-options="vendor.id as vendor.name for vendor in vendors"></select>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label class="control-label">PO No.</label>
                                <div class="input-box">
                                    <input type="text" class="form-control" ng-model="searchInvoice.ponumber">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="search-button">
                                <button type="submit" class="theme-btn">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="order-list-view">
            <table width="100%" class="table table-curved table-header">
                <thead>
                    <tr>
                        <th>PO No.</th>
                        <th>Date</th>
                        <th>Client</th>
                        <th>Vendor</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
            <div class="table-content table-content-wrap">
                <table width="100%" class="table table-curved">
                    <tbody ng-cloak ng-repeat="order in InvoiceOrders|filter:{client_id:clientSearch,vendor_id:vendorSearch,po_number:poNumberSearch}">
                        <tr class="accordion-toggle" ng-class="{'label-success': order.statusname == 'Completed'} " data-toggle="collapse" data-target="#kraft{{order.id}}" ng-show="order.vendor_po_detail.length>0">
                            <td><a href="#">{{order.po_number}}</a></td>
                            <td>{{order.date_added}}</td>
                            <td>{{order.clientname}}</td>
                            <td>{{order.vendorname}}</td>
                            <td>{{order.statusname}}</td>
                            <td><a ng-if="order.statusname != 'Completed'" href="javascript:void(0)" ng-click="markComplete(order)">Mark as Complete</a></td>
                        </tr>
                        <!--Inner Table-->
                        <tr>
                            <td colspan="8" class="inner-table-wrap">
                                <div class="accordion-body collapse" id="kraft{{order.id}}">
                                    <table class="table table-curved inner-table">
                                        <thead>
                                            <tr>
                                                
                                                <th>Quality</th>
                                                <th>GSM</th>
                                                <th>Size</th>
                                                <th>Quantity</th>
                                                <th>Unit</th>
                                                <th>Supplied Quantity</th>
                                                <th>Rate</th>
                                                <th>Status</th>

                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-cloak ng-repeat="details in order.vendor_po_detail" ng-class="{'label-success': details.statusname == 'Completed'} ">
                                               
                                                <td>{{details.quality}}</td>
                                                <td>{{details.gsm}}</td>
                                                <td ng-if="!details.paper_breadth">{{details.paper_length}} </td>
                                                <td ng-if="details.paper_breadth">{{details.paper_length}} * {{details.paper_breadth}}</td>
                                                <td>{{details.quantity}}</td>
                                                <td>{{details.unitname}}</td>
                                                <td>{{details.suppliedQuantitySum}}</td>
                                                <td>{{details.rate}}</td>
                                                <td>{{details.statusname}}</td>
                                                <td>
                                                    <a class="edit" @*ng-show="!details.isEdit"*@ ng-click="editInvoice(details,order)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <!--------------->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="remove-button-wrap" ng-show="InvoiceOrders.length>0">
            <div class="col-sm-12 col-md-12">
                <div class="save-button text-center">
                    <button type="button" class="theme-btn" data-toggle="modal" data-target="#client-form" ng-click="RemoveCompleted()">Remove Completed</button>
                </div>
            </div>
        </div>
    </div>
    <div class="client-detail-wrap invoice-popup modal fade" id="edit-invoice" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Edit Invoice</h4>
                </div>
                <!-- Modal Body -->
                <form name="formOrder" ng-submit="updateInvoice(editInvoiceObj.invoice,editInvoiceObj.order)" novalidate>
                    <div class="modal-body">
                        <div class="row">
                            <div class="table-content">
                                <div ng-repeat="invoice in editInvoiceObj.invoice.invoice_remarks">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Supplied Quantity</label>
                                            <div class="input-box">
                                                <input type="text" class="form-control" ng-model="invoice.supplied_quantity" onkeypress='return isNumber(event)'>
                                                <span class="errormsg">{{editInvoiceObj.invoice.errorMsg}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Invoice Number</label>
                                            <div class="input-box">
                                                <input type="text" name="invoicenumber" class="form-control" ng-model="invoice.invoice_number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Remarks</label>
                                            <div class="input-box">
                                                <input type="text" class="form-control" ng-model="invoice.remarks" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <a @*ng-if="editInvoiceObj.invoice.statusname!='Completed'"*@ href="javascipt:void(0)" class="pull-right add-row-invoice" ng-click="addNewInvoice(editInvoiceObj.invoice.invoice_remarks)">Add Row</a>
                            <div  @*ng-if="editInvoiceObj.invoice.statusname!='Completed'"*@ class="col-md-12">
                                <div class="button-group pull-right">
                                    <button type="submit" class="theme-btn">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="client-detail-wrap remark-popup modal fade" id="view-remarks" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Remarks</h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <p>{{viewRemarks}}</p>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#aInvoice").addClass("active");
    })
</script>