﻿
@{
    ViewBag.Title = "Client";
}
@Scripts.Render("~/bundles/angular/clientService")
@Scripts.Render("~/bundles/angular/clientCTRL")



<div class="main-container client-container" ng-controller="ClientCtrl">
    <div class="container-fluid">
        <div class="search-wrap">
            <!--/Title-Block-->
            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <h1 class="page-title">Clients</h1>
                </div>
                <div class="col-sm-4 col-md-4 pull-right">
                    <div class="save-button pull-right">
                        <button type="button" class="theme-btn" data-toggle="modal" data-target="#client-form" ng-click="showClient()">Add New Client</button>
                    </div>
                </div>
            </div>
            <div class="search-block">
                <form name="formClient" ng-submit="search()" novalidate>
                    <div class="row">
                        <div class="col-sm-4 col-md-5">
                            <label class="control-label">Client Name</label>
                            <div class="input-box">
                                <input type="text" class="form-control" ng-model="search.name1">
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-5">
                            <label class="control-label">City Name</label>
                            <div class="input-box">
                                <input type="text" class="form-control" ng-model="search.city">
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-2">
                            <div class="search-button">
                                <button type="submit" class="theme-btn">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="client-detail-wrap modal fade" id="client-form" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="mySmallModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                    </div>
                    <!-- Modal Body -->
                    <form name="formClient" ng-submit="addClient()" novalidate>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Client Name</label>
                                        <div class="input-box">
                                            <input type="text" name="Name" ng-model="client.name" class="form-control" required>
                                            <span ng-show="formClient.Name.$invalid && formClient.Name.$error.required && submitted" class="errormsg">Client name required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <div class="input-box">
                                            <input type="email" name="email" ng-model="client.email" class="form-control" required ng-pattern="emailpattern">
                                            <span ng-show="(formClient.email.$error.pattern||formClient.email.$error.required) && submitted" class="errormsg">Valid email required</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Contact #</label>
                                        <div class="input-box">
                                            <input type="text" name="contact" ng-model="client.contact_number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">PAN No.</label>
                                        <div class="input-box">
                                            <input type="text" name="alternate_contact" ng-model="client.pan" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Address Line 1</label>
                                        <div class="input-box">
                                            <input type="text" name="address_1" ng-model="client.address_1" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Address Line 2</label>
                                        <div class="input-box">
                                            <input type="text" name="address_2" ng-model="client.address_2" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">City</label>
                                        <div class="input-box">
                                            <input type="text" name="city" ng-model="client.city" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">State</label>
                                        <div class="input-box">
                                            <select ng-options="state.id as state.state_name for state in states" name="state" ng-model="client.state_id" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Zip</label>
                                        <div class="input-box">
                                            <input type="text" name="zip" ng-model="client.zip" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Client ID & Code</label>
                                        <div class="input-box">
                                            <input type="text" name="client_code" ng-model="client.client_code" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">GST No.</label>
                                        <div class="input-box">
                                            <input type="text" name="TIN" ng-model="client.tin_number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">ECC. No.</label>
                                        <div class="input-box">
                                            <input type="text" name="ex_number" ng-model="client.ex_number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="button-group pull-right">
                                        <button type="button" class="theme-btn" ng-click="close()">Cancel</button>
                                        <button type="submit" class="theme-btn">{{Status}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="order-list-view">
            <table width="100%" class="table table-curved table-header">
                <thead>
                    <tr>
                        <th>Client Name</th>
                        <th>City</th>
                        <th>Contact#</th>
                        <th>PAN No.</th>
                        <th>Client Id/Code</th>
                        <th>GST No.</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
            <div class="table-content table-content-wrap">
                <table width="100%" class="table table-curved">
                    <tbody>
                        <tr ng-cloak ng-repeat="client in clients|filter:{name:clientName,city:clientCity}" ng-dblclick="editClient(client)">
                            <td>{{client.name}}</td>
                            <td>{{client.city}}</td>
                            <td>{{client.contact_number}}</td>
                            <td>{{client.pan}}</td>
                            <td>{{client.client_code}}</td>
                            <td>{{client.tin_number}}</td>
                            <td>
                                <a class="edit" href="javascript:void()" ng-click="editClient(client)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a class="delete" href="javascript:void()" ng-click="deleteClient(client)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        $("#aClient").addClass("active");
    })
</script>