﻿@{
    Layout = "";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    @Styles.Render("~/Content/css")
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script>
        var app = angular.module("app", []);
    </script>
    @Scripts.Render("~/bundles/angular/LoginService")
    @Scripts.Render("~/bundles/angular/LoginCtrl")
</head>
<body class="login-bg" ng-app="app" ng-controller="LoginCtrl">
    <div class="main-container login-form-wrap">
        <div class="login-branding">
            <a href="#"><img src="~/Content/Images/user.png" class="img-responsive user-icon img-circle"></a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title text-center">Sign In</div>
            </div>

            <div class="panel-body">

                <form name="formLogin" id="form" class="form-horizontal" ng-submit="loginUser()" novalidate>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" ng-model="login.Email" name="email" placeholder="User" required ng-pattern="emailpattern">
                        <span ng-show="(formLogin.email.$error.pattern||formLogin.email.$error.required) && submitted" class="errormsg">Valid email required</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" ng-model="login.Password" name="password" placeholder="Password" required>
                        <span ng-show="formLogin.password.$error.required && submitted" class="errormsg">Password required</span>
                    </div>
                    <div class="input-group">
                        <div class="controls">
                            <button type="submit" href="#" class="theme-btn">Log in</button>
                        </div>
                    </div>
                    <span ng-show="loginerror" class="errormsg credentials">Wrong Credentials</span>


                </form>

            </div>
        </div>
    </div>
</body>
</html>
