﻿@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
/* CSS Document */
* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
body, html {
	width: 100%;
	height: 100%;
}
body
{
	background-color: #eeeeee;
    color: #454545;
    font-weight: 400;
    font-size: 14px;
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;	
}
a:hover,a:focus{
	text-decoration: none;
	color: #15bdc3;
}
h1{
	font-size: 40px;
    color: #355573;
	margin: 20px 0;
	font-weight: 400;
}
label{
	margin-bottom: 3px;
    font-weight: 400;
    color: #4e627c;
    font-size: 16px;
}
.form-control{
	height: 38px;
    line-height: 24px;
	color: #355573;
	border: 1px solid #c1ccdb;
	box-shadow: none;
}
.theme-btn{
	outline: 0;
	width: 100%;
    background: #2c9ab6;
    border: 1px solid #2c9ab6;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 10px;
    border-radius: 4px;
    display: inline-block;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;	
}
.print_btn{
    max-width:100px;
}

.theme-btn:hover,.theme-btn:active{
    background: rgb(30, 135, 162);
    border: 1px solid rgb(30, 135, 162);
}
.errormsg{
    position: absolute;
    bottom: -25px;
    left:0;
    color: #D8000C;
    line-height: 1.5;
    display: block;
}
.form-group {
    margin-bottom: 25px;
    position:relative;
}
/**********************default class*************************************/
.no-margin{margin:0 !important;}
.mar-b-0{margin-bottom:0 !important;}
.no-padding{padding: 0 !important;}
.btn{outline: 0 !important;}
/***********************************************************/
/**********************Side Bar*************************************/
.side-nav-bar
{
    width: 230px;
    background-color: #185667;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    z-index: 1000;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;	
}

.side-nav-bar .sidebar-branding {
    height: 60px;
    background-color: #185667;
	border-bottom: 1px solid #596b7a;
	border-right: 1px solid #386c7a;
	text-align: center;
}
.side-nav-bar .sidebar-branding .logo-po{
	font-weight: 100;	
}
.sidebar-branding a {
    font-size: 26px;
    color: #fff;
    line-height: 60px;
}
.side-navigation {
    overflow-y: auto;
}
.side-navigation > ul {
    margin: 0px;
    padding: 0px;
}
.side-navigation > ul > li {
    list-style: none;
}
.side-navigation .list-accordion > li > a {
    display: block;
    vertical-align: middle;
    position: relative;
}

.side-navigation > ul > li > a {
    color: #69a6b7;
    border-bottom:  1px solid #3e7485;
    padding: 20px 15px;
    display: block;
	font-size: 16px;
}
.side-navigation > ul > li > a.active{
	background: #188aa7;
	color: #fff;
}
.side-navigation li a {
    color: #9eadb3;
    position: relative;
}
.side-navigation > ul > li > a.active:hover {
    color: #fff;
}
.side-navigation > ul ul li a:hover {
    color: #15bdc3;
}
.side-navigation > ul > li > a .nav-icon {
	display: inline-block;
    padding-right: 15px;
	vertical-align: middle;
	max-width: 40px;
    width: 100%;
}
.side-navigation > ul > li > a .fa{
	font-size: 25px;
}
.nav-icon img
{
	width:25px;
}
.side-navigation > ul ul {
    margin: 0px 0px 0px 16px;
    border-left: rgba(255, 255, 255, 0.05) 1px solid;
    padding: 0px;
    list-style: none;
}
.side-navigation > ul ul li a {
    padding: 10px 10px 10px 16px;
    display: block;
}
/***********************************************************/
/**********************Header Bar*************************************/
.header-bar {
    min-height: 60px;
    background-color: #185667;
    margin-top: -1px;
    z-index: 800;
    position: relative;
	border-bottom: 1px solid #596b7a;
    -webkit-box-shadow: 0 0 0px #596b7a;
    -moz-box-shadow: 0 0 0px #596b7a;
	-o-box-shadow: 0 0 0px #596b7a;
	-ms-box-shadow: 0 0 0px #596b7a;
    box-shadow: 0 0 0px #596b7a;
}
.user-nav {
    float: right;
    margin-right: 10px;
}
.user-nav > ul{
	margin: 0;
	padding: 0;
	display: table;
	width:100%;
}
.user-nav > ul > li{
	display: table-cell;
    height: 60px;
    padding: 0px 10px 0px 14px;
    color: #fff;
    font-size: 15px;
	border-left: 1px solid #386c7a;
	vertical-align: middle;
	cursor: pointer;
}
.user-nav .user-info{
	padding: 0 20px;
}
.user-nav .user-thumb {
	display: inline-block;
	background: #3099b3;
	height: 40px;
	width: 40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
}
.user-nav .user-thumb .fa{
	font-size: 33px;
	margin-top: 6px;
}
.user-nav .down-arrow .fa{
	font-size: 22px;
	position: relative;
    top: 3px;
}
.open .dropdown-menu{
    display: block;
    min-width: 165px;
    margin: 0;
    left: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.user-nav-icon {
    margin-right: 5px;
    width: 14px;
    display: inline-block;
}
/**********************Dashboard Section*************************************/
.main-container {
    padding: 0 15px 30px;
}
.section-content {
    margin-left: 230px;
}
.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9;
}
.table > thead > tr > th{
	border-bottom: none;
	vertical-align: middle;
}
.table > tbody > tr:first-child > td{
	border-top: solid #c1ccdb 1px;
}
.order-list-view .table-curved {
    border:1px solid #c1ccdb;
    margin:0;
	border-collapse: initial;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.10);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.10);
	-o-box-shadow: 0 0 5px rgba(0,0,0,0.10);
	-ms-box-shadow: 0 0 5px rgba(0,0,0,0.10);
    box-shadow: 0 0 5px rgba(0,0,0,0.10);
}
.order-list-view .table-title{
	background: #f1f4f8;
    color: #4e627c;
    text-transform: uppercase;
    padding: 12px 20px !important;
    font-size: 16px;
}
.order-list-view th{
	background: #f1f4f8;
    color: #4e627c;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align:center;
}
.order-list-view tr{
	background: #fff;
}
.order-list-view .table-headline td{
	text-transform: uppercase;
	font-weight: 500;
}
.order-list-view td{
	padding: 5px !important;
	font-size: 14px;
	color: #4e627c;
	vertical-align: middle !important;
    text-align:center;
    position:relative;
}
.order-list-view td a.edit,.order-list-view td a.delete,.order-list-view td a.view,.order-list-view td a.delete,.order-list-view td a.reset{
	font-size: 16px;
	cursor: pointer;
}
.order-list-view td a.edit,.order-list-view td a.delete{
	margin-right: 10px;
}
.client-order-wrap .panel-tile {
    margin-bottom: 25px;
    cursor:pointer;
}
.client-order-wrap .panel-body {
    padding: 25px;
}
.client-order-wrap .order-tile{
    background: #f0f5ee;
    border: 1px solid #b9cbb3;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.10);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.10);
	-o-box-shadow: 0 0 5px rgba(0,0,0,0.10);
	-ms-box-shadow: 0 0 5px rgba(0,0,0,0.10);
    box-shadow: 0 0 5px rgba(0,0,0,0.10);
}
.client-order-wrap .active .panel-tile{
    background: #188aa7;
}
.client-order-wrap .active .title-total .title,.client-order-wrap .active .title-total .count{
    color:#fff;
}
.order-tile .fa{
	color: #ff6b6b;
}
.client-tile .fa{
	color: #ffa66b;
}
.vendor-tile .fa{
	color: #69a6b7;
}
.add-row {
    margin-top: 15px;
}
.client-order-wrap .client-tile{
	 background: #d8eeee;
    border: 1px solid #a1c0c0;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.10);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.10);
	-o-box-shadow: 0 0 5px rgba(0,0,0,0.10);
	-ms-box-shadow: 0 0 5px rgba(0,0,0,0.10);
    box-shadow: 0 0 5px rgba(0,0,0,0.10);
}
.client-order-wrap .vendor-tile{
	background: #f5f5ec;
    border: 1px solid #dadac9;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.10);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.10);
	-o-box-shadow: 0 0 5px rgba(0,0,0,0.10);
	-ms-box-shadow: 0 0 5px rgba(0,0,0,0.10);
    box-shadow: 0 0 5px rgba(0,0,0,0.10);
}
.title-wrap {
    overflow: hidden;
}
.title-wrap .title-total {
    float: left;
	padding-top: 15px;
    width: 71%;
}
.title-wrap .title-total .title {
    font-size: 16px;
    color: #4e627c;
    text-transform: uppercase;;
}
.title-wrap .title-total .count {
    font-size: 28px;
    color: #4e627c;
	font-weight: 500;
}
.title-wrap .panel-image {
    float: right;
}
.title-wrap .panel-image .image-bg {
    background: #fff;
    width: 85px;
    height: 85px;
    text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius:50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
    line-height: 117px;
}
.title-wrap .panel-image .image-bg .fa{
	font-size: 55px;
}
/***********************************************************/
/**********************Client Page*************************************/
.search-wrap .search-block {
    background: #fff;
    padding: 25px;
    border: 1px solid #c1ccdb;
    margin-bottom: 25px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.10);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.10);
    -o-box-shadow: 0 0 5px rgba(0,0,0,0.10);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,0.10);
    box-shadow: 0 0 5px rgba(0,0,0,0.10);
}
.search-wrap .search-button {
    margin: 24px 0 0;
}
.search-wrap .save-button {
    margin: 20px 0;
    width: 165px;
}
.search-wrap .save-button .theme-btn{
    background: #e5721d;
    border: 1px solid #e5721d;
    border-radius: 20px;
	padding: 10px;
}
.search-wrap .save-button .theme-btn:hover,.search-wrap .save-button .theme-btn:active{
    background: #cc661b;
    border: 1px solid #cc661b;
}
.create-order-container .order-list-view .form-control{
    padding: 2px 5px;
    height: 20px;
    line-height: 24px;
    margin: 0 auto !important;
    width: 80px;
}
.client-container .order-list-view .table-header th,.client-container .order-list-view .table-content td{
    width:14.28% !important;
}
.vendor-container .order-list-view .table-header th,.vendor-container .order-list-view .table-content td{
    width:14.28% !important;
}
.create-order-container .order-list-view .table-header th,.create-order-container .order-list-view .table-content td{
    width:9.5% !important;
}
.invoice-container .order-list-view .table-header th,.invoice-container .order-list-view .table-content td{
    width:16.66%;
}
.invoice-container .order-list-view .table-content-wrap {
    max-height: 541px;
}
/***********************************************************/
/**********************Add Client Page*************************************/
.client-detail-wrap .modal-body{
	padding: 15px 20px;
}
.client-detail-wrap .modal-dialog{
	width: 95%;
}
.client-detail-wrap.modal.in .modal-dialog {
    -webkit-transform: translate(0, -50%); 
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0,-50%);
}
.modal.fade .modal-dialog{
    top:50%;
        -webkit-transform: translate(0, -75%);
    -ms-transform: translate(0, -75%);
    -o-transform: translate(0, -75%);
    transform: translate(0, -75%);
}
.client-detail-wrap .modal-dialog .close{
	outline: 0;
}
.client-detail-wrap .button-group {
    margin: 20px 0 0;
}
.modal-open .modal {
   /* background: url('../images/bg.png');*/
}
.client-detail-wrap  .button-group .theme-btn {
    display: inline-block;
    width: 150px;
    margin-left: 7px;
}
/***********************************************************/
/**********************Create PO Page*************************************/
.order-list-view td.inner-table-wrap{
	padding: 0 !important;
    border: 0 !important;
}
.order-list-view .inner-table{
	margin: 0 auto;
    border-left:none;
    border-right:none;
    border-bottom:none;
    box-shadow: none;
}
.order-list-view tr.accordion-toggle{
    cursor:pointer;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;	
}
.order-list-view tr.accordion-toggle:hover{
    background: #fefcf6;
}
.order-list-view .inner-table tr{
    background: #fefcf6;
}
.order-list-view .inner-table tr th{
    background: #fefae8;
}
.order-list-view .inner-table th{
    text-transform:capitalize;
}
.create-po .client-detail-wrap .modal-body{
	padding: 20px 15px;
}
.po-list {
    padding: 10px 0 0;
}
.order-list-view td a{
	text-decoration: underline;
}
.client-detail-wrap .modal-footer .theme-btn,.po-list .theme-btn{
	width: 127px;
	margin-left: 5px;
}
.client-detail-wrap .order-list-view td a{
	font-size: 20px;
	cursor: pointer;
    margin-bottom: 12px;
    display: inline-block;
}
.po-container .search-wrap .search-button {
    margin: 0;
}
/******************css update*****************************************/
.client-detail-wrap th:first-child{
    width:1%;
}
.order-list-view .inner-table-wrap th,.client-detail-wrap th{
    width:8.09%;
}
.order-list-view .inner-table-wrap .delivery-date-td .form-control,.delivery-date-td .form-control {
    width: 72%;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.order-list-view .inner-table-wrap .delivery-date-td .input-group-addon:last-child,.delivery-date-td .input-group-addon:last-child  {
    border-left: 0;
    height: 38px;
    width: 38px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.order-list-view .inner-table-wrap .delivery-date-th,.delivery-date-th{
    width: 13% !important;
}
.inner-table .errormsg{
    bottom: 4px;
    line-height: 1.1;
    left: 5px;
}
.po-list .errormsg,.table-curved .errormsg{
    bottom: 2px;
    line-height: 1.1;
    left: -10px;
}
.edit-row td .errormsg {
    text-align: left;
    left: 8px;
}
.inner-table .form-control,.po-list .form-control,.table-curved .form-control{
    margin:0 0 12px;
}
.order-list-view .inner-table-wrap td:last-child{
    text-align:center;
}
.loder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999999;
    background: #e5721d;
    border: 1px solid #e5721d;
    color:#fff;
}
.loder:hover{
    color:#fff;
}
.loder-overlay{
    position: fixed;
    background: rgba(0, 0, 0, 0.13);
    height: 100%;
    top: 0;
    width: 100%;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    top:3px;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.order-list-view .table-content > .table-curved{
    border-top: none;
}
.order-list-view .table-content {
    margin-top: -1px;
    height: auto !important;
    max-height: 471px;
}
.order-list-view .table-content-wrap {
    max-height: 612px;
}
.slimScrollDiv{
    height:auto !important;
}
.slimScrollDiv .table-content{
    height:auto !important;
    max-height:463px;
}
.po-container .po-table-wrap .table-header th,.po-container .po-table-wrap .table-content td{
    width:8.66%;
}
.po-container .po-list.kraft .table-header th,.po-container .po-list.kraft .table-content td{
    width:9.4% !important;
}
.po-container .po-list.kraft .table-header th:first-child,.po-container .po-list.kraft .table-content td:first-child{
    width:3% !important;
}
.po-container .po-list.kraft .table-header th:last-child,.po-container .po-list.kraft .table-content td:last-child{
    width:10% !important;
}
.user-container .table-header th,.user-container .table-content td{
    width:20%;
}
.user-container .order-list-view tbody tr:last-child td{
    width:20% !important;
}
.po-container .po-list.duplex .table-header th,.po-container .po-list.duplex .table-content td{
    width:8.7% !important;
}
.po-container .po-list.duplex .table-header th:first-child,.po-container .po-list.duplex .table-content td:first-child{
    width:3% !important;
}
.po-container .po-list.duplex .table-header th:last-child,.po-container .po-list.duplex .table-content td:last-child{
    width:10% !important;
}
.order-list-view tbody tr:last-child td{
    width: auto !important;
}
.po-container .po-list .table-content-wrap {
    max-height: 185px;
}
/**********************Create Order Page*************************************/
.drop-row {
    text-align: center;
    padding: 20px 0;
}
.order-kraft .order-list-view .drop-table,.order-duplex .order-list-view .drop-table {
    margin-bottom: 0;
}
/***********************************************************/
/**********************Invoice Page*************************************/
.remove-button-wrap .theme-btn{
	width:215px;
    margin-top:25px;
}
.remark-popup .modal-dialog{
    width: 20%;
}
.remark-popup .modal-dialog p{
    font-size:16px;
    margin:0;
}
.invoice-popup .modal-dialog{
    width:40%;
}
.invoice-container .label-warning {
    background-color: #f0ad4e !important;
}
.invoice-container .label-warning td{
    color:#fff;
}
.invoice-container .label-success {
   background-color: #5cb85c !important;
}
.invoice-container .label-success td{
    color:#fff;
}
.invoice-container .label-danger {
    background-color:#d9534f !important;
}
.invoice-container .label-danger td{
    color:#fff;
}
.invoice-container .label-warning label,.invoice-container .label-success label,.invoice-container .label-danger label{
   color:#fff; 
}
.invoice-container .label-warning a,.invoice-container .label-success a,.invoice-container .label-danger a{
   color:#fff; 
}
.create-order-container .order-list-view .table-content-wrap {
    max-height: 181px;
}
.add-row-invoice{
    padding:10px 15px 0 0; 
}
/***********************************************************/
/**********************Login*************************************/
.login-bg .main-container{
	width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-form-wrap .form-control:focus{
	box-shadow: none;
}
.login-bg{
	background: #185667;
}
.login-branding {
    text-align: center;
}
.login-branding a {
	display: inline-block;
    max-width: 125px;
    width: 100%;
}
.login-branding a img{
	margin: 0 0 15px;
}
.login-form-wrap .panel-title{
	font-size: 25px;
	text-transform: uppercase;
}
.login-form-wrap .input-group{
	width:100%;
}
.login-form-wrap .errormsg {
    bottom: -19px;
    line-height: 1;
} 
.login-form-wrap .input-group{
    margin:0 0 25px;
}
.login-form-wrap form{
    position:relative;
}
.credentials{
    bottom: -25px;
    left: 0;
}

/**********************New User*************************************/
.new-user {
    background: #fff;
    padding: 25px;
    border: 1px solid #c1ccdb;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.10);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.10);
    -o-box-shadow: 0 0 5px rgba(0,0,0,0.10);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,0.10);
    box-shadow: 0 0 5px rgba(0,0,0,0.10);
}
.new-user .search-button {
    margin-top: 25px;
}
.new-user .search-button .theme-btn{
	width: 182px;
}
.chekbox-wrap {
    margin: 0 0 20px;
}
.chekbox-wrap input[type="checkbox"]{
    margin: 0px 5px 0 0;
}
.client-detail-wrap.reset-popup .modal-dialog {
    width: 40%;
}
/***********************************************************/
/**********************Media Query*************************************/
@media screen and (max-width: 1399px) {
    .order-list-view th,.order-list-view td,.form-control{
        font-size:13px;
    }
    .order-list-view .inner-table-wrap .delivery-date-td .form-control, 
    .delivery-date-td .form-control{
        width:65%;
    }
    .invoice-popup .modal-dialog{
        width:50%;
    }
    .client-order-wrap .panel-body{
        padding:15px;
    }
}
@media screen and (max-width: 1370px){
    .slimScrollDiv .table-content{
        height:auto !important;
        max-height:298px;
    }
}
@media screen and (max-width: 1280px) {
    .title-wrap .title-total{
        width: 58%;
    }
}
@media screen and (max-width: 1199px) {
    .order-list-view .inner-table-wrap .delivery-date-td .form-control,
     .delivery-date-td .form-control {
        width: 56%;
    }
    .order-list-view .inner-table-wrap .delivery-date-td .input-group-addon:last-child, .delivery-date-td .input-group-addon:last-child{
        width: auto;
    }
    .order-list-view .input-group-addon{
        padding: 6px 6px;
    }
    .order-list-view td a.edit {
        margin-right: 5px;
    }
}
@media screen and (max-width: 1024px){
	.client-order-wrap .panel-body {
		padding: 15px;
	}
	.title-wrap .title-total{
		padding-top: 0;
	}
	.title-wrap .title-total .title {
    	font-size: 14px;
	}
	.title-wrap .title-total .count {
    	font-size: 20px;
	}
	.title-wrap .panel-image .image-bg{
		line-height: 64px;
		width: 50px;
		height: 50px;
	}
	.title-wrap .panel-image .image-bg .fa {
		font-size: 30px;
	}
    .order-list-view th,.order-list-view td{
        font-size:11px;
    }
    .title-wrap .title-total {
        width: 70%;
    }
}

@media screen and (max-width: 991px) {
    .search-wrap .save-button .theme-btn{
        padding: 8px;
    }
    h1{
        font-size: 35px;
    }
    .order-list-view .inner-table-wrap .delivery-date-td .form-control, .delivery-date-td .form-control {
        width: 52%;
    }
    .order-list-view .inner-table-wrap .delivery-date-th, .delivery-date-th {
        width: 18% !important;
    }
}



/***********************************************************/