﻿@{
    ViewBag.Title = "ClientPO";
}

@*@Scripts.Render("~/bundles/angular/clientPOService")
@Scripts.Render("~/bundles/angular/clientPOCtrl")*@
<script src="~/Scripts/angularjs/service/clientPOService.js"></script>
<script src="~/Scripts/angularjs/controller/clientPO.js"></script>
<div class="main-container po-container" ng-controller="clientPOCtrl">
    <div class="container-fluid">
        <div class="search-wrap">
            <!--/Title-Block-->
            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <h1 class="page-title">Client PO</h1>

                </div>
                <div class="col-sm-4 col-md-4 pull-right">
                    <div class="save-button pull-right">
                        <button type="button" class="theme-btn" data-toggle="modal" data-target="#client-form" ng-click="showClient()">Add New PO</button>
                    </div>
                </div>
            </div>
            <form name="formPOSearch" ng-submit="searchPO()">
                <div class="search-block">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="control-label">Client</label>
                                <div class="input-box">
                                    <select class="form-control" id="client" ng-model="searchPO.client_id" ng-options="client.id as client.name for client in clients"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="control-label">Date</label>
                                <div class="input-group">
                                    <input class="form-control" ng-model="searchPO.date_received" data-date-format="dd/mm/yyyy" id="datetimepicker2" name="date" type="text" onkeypress='return onlyBackspace(event)' placeholder="DD/MM/YYYY">
                                    <label for="datetimepicker2" class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="control-label">Vendor</label>
                                <div class="input-box">
                                    <select class="form-control" id="vendor" ng-model="searchPO.prefered_vendor_id" ng-options="vendor.id as vendor.name for vendor in vendors"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="control-label">Client PO No.</label>
                                <div class="input-box">
                                    <input type="text" class="form-control" ng-model="searchPO.po_number">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-2 pull-right">
                            <div class="search-button">
                                <button type="submit" class="theme-btn">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="client-detail-wrap modal fade" id="client-form" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="mySmallModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Add/Edit PO</h4>
                    </div>
                    <!-- Modal Body -->
                    <form name="formClientPO" ng-submit="addClientPO()" novalidate>
                        <div class="modal-body">
                            <div class="row">
                                <div class="po-input-wrap">
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Client PO No.</label>
                                            <div class="input-box">
                                                <input type="text" name="poNumber" class="form-control" ng-model="clientPO.po_number" required>
                                                <span ng-show="formClientPO.poNumber.$invalid && formClientPO.poNumber.$error.required && submitted" class="errormsg"> PO number required</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Date</label>
                                            <div class="input-group">
                                                <input class="form-control" id="datetimepicker1" customzdatetime data-date-format="dd/mm/yyyy" name="date12" type="text" ng-model="clientPO.date_received" ng-readonly="true" placeholder="DD/MM/YYYY" required>
                                                <label for="datetimepicker1" class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </label>
                                            </div>
                                            <span ng-show="formClientPO.date12.$invalid && formClientPO.date12.$error.required && submitted" class="errormsg">Date is required</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Client</label>
                                            <select class="form-control" id="client" ng-change="changeClient(clientPO)" name="clientName" ng-model="clientPO.client_id" required ng-options="client.id as client.name for client in clients"></select>
                                            <span ng-show="formClientPO.clientName.$invalid && formClientPO.clientName.$error.required && submitted" class="errormsg">Client is required</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Vendor</label>
                                            <select ng-if="clientPO.paper_type==1" class="form-control" name="vendor_name" id="vendor" ng-model="clientPO.prefered_vendor_id" ng-options="vendor.id as vendor.name for vendor in vendors"></select>
                                            <select ng-if="clientPO.paper_type==2" class="form-control" name="vendor_name" id="vendor" ng-model="clientPO.prefered_vendor_id" ng-options="vendor.id as vendor.name for vendor in vendors" required></select>
                                            <span ng-if="clientPO.paper_type==2" ng-show="formClientPO.vendor_name.$invalid && formClientPO.vendor_name.$error.required && submitted" class="errormsg">Vendor is required</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Payment Terms</label>
                                            <input type="text" class="form-control" id="PaymentTerms" ng-model="clientPO.payment_terms" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Paper Type</label>
                                            <select class="form-control" id="PaperType" ng-model="clientPO.paper_type" ng-change="changePaperType()" ng-options="paper.id as paper.name for paper in paperTypes"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="po-list order-list-view" ng-class="{'kraft':clientPO.paper_type==1,'duplex':clientPO.paper_type==2}">
                                        <div class="kraft">
                                            <table class="table table-curved table-header">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Quality</th>
                                                        <th>{{clientPO.paper_type==2?'Length':'Size'}}</th>
                                                        <th ng-if="clientPO.paper_type==2">Breadth</th>
                                                        <th>Size Type</th>
                                                        <th ng-if="clientPO.paper_type==2">Grain</th>
                                                        <th>GSM</th>
                                                        <th>Quantity</th>
                                                        <th>Unit</th>
                                                        <th>Rate</th>
                                                        <th>Rate Type</th>
                                                        <th>Delivery Date</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <div class="table-content table-content-wrap">
                                                <table width="100%" class="table table-curved">
                                                    <tbody>
                                                        <tr class="edit-row" ng-repeat="type in clientPO.client_po_detail" ng-if="!type.IsDeleted" >
                                                            <td>
                                                                <div @*ng-show="type.status_id==1"*@>
                                                                    <a class="delete pull" ng-click="removeMember($index,type)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" ng-model="type.quality" ng-disabled="type.is_updated==true">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" ng-model="type.paper_length" ng-change="checkChange(type)" maxlength="7" name="lengthName{{$index}}" required onkeypress='return isNumber(event)' ng-disabled="type.is_updated==true">
                                                                <span class="errormsg" ng-show="formClientPO['lengthName' + $index].$invalid && formClientPO['lengthName' + $index].$error.required && submitted">{{clientPO.paper_type==2?'Length':'Size'}} required</span>
                                                            </td>
                                                            <td ng-if="clientPO.paper_type==2">
                                                                <input type="text" class="form-control" name="breadthName{{$index}}" required ng-model="type.paper_breadth" ng-change="checkChange(type)" maxlength="7" onkeypress='return isNumber(event)' ng-disabled="type.is_updated==true">
                                                                <span class="errormsg" ng-show="formClientPO['breadthName' + $index].$invalid && formClientPO['breadthName' + $index].$error.required && submitted">Breadth required</span>
                                                            </td>
                                                            <td>
                                                                <select class="form-control" id="SizeType" ng-model="type.size" ng-options="size.id as size.name for size in SizeType" ng-disabled="type.is_updated==true"></select>
                                                            </td>
                                                            <td ng-if="clientPO.paper_type==2">
                                                                @*<input type="text" class="form-control" ng-model="type.bf_grain" ng-if="clientPO.paper_type==1">*@
                                                                <label class="form-control">{{type.grainVal}}</label>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" ng-model="type.gsm" maxlength="7" onkeypress='return isNumber(event)' ng-disabled="type.is_updated==true">
                                                                @*<span class="errormsg">GSM is required</span>*@
                                                            </td>
                                                            <td><input type="text" class="form-control" ng-model="type.quantity" maxlength="7" onkeypress='return isNumber(event)' ng-disabled="type.is_updated==true"></td>
                                                            <td>
                                                                <select class="form-control" id="UnitType" ng-model="type.unit"
                                                                        ng-options="unit.id as unit.unit_type1 for unit in unitTypes" ng-disabled="type.is_updated==true"></select>
                                                            </td>
                                                            <td><input type="text" class="form-control" ng-model="type.rate" maxlength="7" onkeypress='return isNumber(event)' ng-disabled="type.is_updated==true"></td>
                                                            <td>
                                                                <select class="form-control" id="RateType" ng-model="type.rate_type_id"
                                                                        ng-options="rate.id as rate.rate_type1 for rate in rateTypes" ng-disabled="type.is_updated==true"></select>
                                                            </td>
                                                            <td class="delivery-date-td">
                                                                <input type="text" class="form-control" id="dateId6{{$index}}" name="dateName{{$index}}" required ng-readonly="true" ng-model="type.delivery_date" customzdatetime placeholder="DD/MM/YYYY" ng-disabled="type.is_updated==true">
                                                                <span class="errormsg" ng-show="formClientPO['dateName' + $index].$invalid && formClientPO['dateName' + $index].$error.required && submitted">Enter Date</span>
                                                                <label for="dateId6{{$index}}" class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-init="setDatePick()"></div>

                                        </div>
                                        <a href="#" class="add-row pull-right" ng-click="addNewRow()">Add New Row</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="theme-btn" ng-click="close()">Cancel</button>
                            <button type="submit" class="theme-btn">{{Status}}</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container loder-overlay" ng-show="loader">
                <button class="btn btn-lg loder"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
            </div>
        </div>

        <div class="order-list-view po-table-wrap">
            <table width="100%" class="table table-curved table-header">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>PO No.</th>
                        <th>Client</th>                        
                        <th>Vendor</th>
                        <th>Paper Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
            <div class="table-content">
                <table width="100%" class="table table-curved table-fixed">
                    <tbody ng-cloak ng-repeat="client in clientPOs|filter:{client_id:clientSearchId,prefered_vendor_id:vendorSearchId,po_number:poSearchNumber,date_received:poSearchDateReceived}">

                        <tr class="accordion-toggle" data-toggle="collapse" data-target="#kraft{{client.id}}">
                            <td>{{client.date_received|date}}</td>
                            <td><a href="javascript:void()">{{client.po_number}}</a></td>
                            <td>{{typeName(client.client_id,clients,3)}}</td>
                            <td>{{client.vendorName}}</td>
                            <td>{{client.paper_type==1?'Kraft':'Duplex'}}</td>
                            <td>
                                <a class="edit" ng-hide="client.isPODeleteRequest==true" ng-click="editClientPO(client,$event)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a class="delete" ng-hide="client.isPODeleteRequest==true" @*ng-show="client.status_id==1"*@ ng-click="deleteClientPO(client)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9" class="inner-table-wrap" ng-show="client.client_po_detail.length>0">
                                <div class="accordion-body collapse" id="kraft{{client.id}}">
                                    <table class="table table-curved inner-table">
                                        <thead>
                                            <tr>
                                                <th>Quality</th>
                                                <th>GSM</th>
                                                <th>{{client.paper_type==2?'Length':'Size'}}</th>
                                                <th ng-if="client.paper_type==2">Breadth</th>
                                                <th>Size Type</th>
                                                <th ng-if="client.paper_type==2">Grain</th>
                                                <th>Quantity</th>
                                                <th>Unit</th>
                                                <th>Rate</th>
                                                <th>Rate Type</th>
                                                <th class="delivery-date-th">Delivery Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-cloak ng-repeat="type in client.client_po_detail" ng-if="!type.IsDeleted">
                                            <tr ng-show="!type.isHide">
                                                <td>{{type.quality}}</td>
                                                <td>{{type.gsm}}</td>
                                                <td>{{type.paper_length}}</td>
                                                <td ng-if="client.paper_type==2">{{type.paper_breadth}}</td>
                                                <td>{{type.size=='1'?'inch':'cm'}}</td>
                                                <td ng-if="client.paper_type==2">{{type.grainVal}}</td>
                                                <td>{{type.quantity}}</td>
                                                <td>{{typeName(type.unit,unitTypes,2)}}</td>
                                                <td>{{type.rate}}</td>
                                                <td>{{typeName(type.rate_type_id,rateTypes,1)}}</td>
                                                <td>{{type.delivery_date}}</td>
                                                <td>
                                                    <a ng-show="type.is_updated==0" class="edit" ng-click="editDetail($index,type,client.paper_type)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    <a ng-show="type.is_updated==0" class="delete" @*ng-show="type.status_id==1"*@ ng-click="deleteDetail(type,client.client_po_detail)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                            <tr class="edit-row" ng-show="type.isHide">
                                                <td><input type="text" class="form-control" ng-model="type.quality"></td>
                                                <td><input type="text" class="form-control" ng-change="checkChange(type)" ng-model="type.paper_length" maxlength="7" onkeypress='return isNumber(event)'></td>
                                                <td ng-if="client.paper_type==2"><input type="text" class="form-control" ng-change="checkChange(type)" ng-model="type.paper_breadth" maxlength="7" onkeypress='return isNumber(event)'></td>
                                                <td>
                                                    <select class="form-control" id="SizeType" ng-model="type.size" ng-options="size.id as size.name for size in SizeType"></select>
                                                </td>
                                                <td ng-if="client.paper_type==2">
                                                    @*<input type="text" class="form-control" ng-model="type.bf_grain" ng-if="client.paper_type==1">*@
                                                    <label class="form-control">{{type.grainVal}}</label>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="type.gsm" maxlength="7" onkeypress='return isNumber(event)'>
                                                    @*<span class="errormsg">GSM is required</span>*@
                                                </td>
                                                <td><input type="text" class="form-control" ng-model="type.quantity" maxlength="7" onkeypress='return isNumber(event)'></td>
                                                <td>
                                                    <select class="form-control" id="UnitType" ng-model="type.unit"
                                                            ng-options="unit.id as unit.unit_type1 for unit in unitTypes"></select>
                                                </td>
                                                <td><input type="text" class="form-control" ng-model="type.rate" maxlength="7" onkeypress='return isNumber(event)'></td>
                                                <td>
                                                    <select class="form-control" id="RateType" ng-model="type.rate_type_id"
                                                            ng-options="rate.id as rate.rate_type1 for rate in rateTypes"></select>
                                                </td>
                                                <td class="delivery-date-td">
                                                    <input type="text" id="dateId7{{$index}}" class="form-control" ng-model="type.delivery_date" ng-readonly="true" placeholder="DD/MM/YYYY" customzdatetime>
                                                    <label for="dateId7{{$index}}" class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <a class="edit" ng-click="addUpdateDetail($index,type)"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker2').datepicker({
            viewMode: 'years',
            autoclose: true
        });
        $("#aPO").addClass("active");
    });
</script>