﻿
@{
    ViewBag.Title = "UserManagement";
}
@Scripts.Render("~/bundles/angular/UserService")
@Scripts.Render("~/bundles/angular/UserCtrl")
<div class="main-container user-container" ng-controller="UserCtrl">
    <div class="container-fluid">
        <div class="search-wrap">
            <!--/Title-Block-->
            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <h1 class="page-title">User Management</h1>
                </div>
                <div class="col-sm-4 col-md-4 pull-right">
                    <div class="save-button pull-right">
                        <button type="button" class="theme-btn" data-toggle="modal" data-target="#client-form" ng-click="showUser()">Add New User</button>
                    </div>
                </div>
            </div>
            <form name="formUserSearch" ng-submit="searchUser()">
                <div class="search-block">
                    <div class="row">
                        <div class="col-sm-5 col-md-5">
                            <div class="form-group">
                                <label class="control-label">User Name</label>
                                <div class="input-box">
                                    <input type="text" class="form-control" ng-model="searchUserObj.UserName">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5">
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <div class="input-box">
                                    <input type="text" class="form-control" ng-model="searchUserObj.Email">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-2">
                            <div class="search-button">
                                <button type="submit" class="theme-btn">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="client-detail-wrap reset-popup modal fade" id="reset" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Reset Password</h4>
                    </div>
                    <div class="user-wrap">
                        <div class="new-user">
                            <div class="row">
                                <form name="formReset" ng-submit="resetPassword()" novalidate>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Password</label>
                                            <div class="input-box">
                                                <input type="password" class="form-control" name="password" ng-model="reset.Password" required >
                                                <span ng-show="formReset.password.$invalid && formReset.password.$error.required && submitted" class="errormsg">Password required</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Confirm Password</label>
                                            <div class="input-box">
                                                <input type="password" class="form-control" name="confirm_password" ng-model="reset.ConfirmPassword" required  compare-to="reset.Password">
                                                <span ng-show="formReset.confirm_password.$invalid && (formReset.confirm_password.$error.compareTo|| formReset.confirm_password.$error.required) && submitted" class="errormsg">Confirm Password required</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <div class="search-button pull-right">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <button type="submit" class="theme-btn">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span ng-show="resetPasswordError" class="errormsg">Password criteria not meet</span>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container loder-overlay" ng-show="loader">
                <button class="btn btn-lg loder"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
            </div>
        </div>
        <div class="client-detail-wrap modal fade" id="client-form" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Add/Edit PO</h4>
                    </div>
                    <div class="user-wrap">
                        <div class="new-user">
                            <div class="row">
                                <form name="formRegister" ng-submit="registerUser()" novalidate>
                                    <div class="col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">First Name</label>
                                            <div class="input-box">
                                                <input type="text" class="form-control" name="firstname" ng-model="register.FirstName" required>
                                                <span ng-show="formRegister.firstname.$invalid && formRegister.firstname.$error.required && submitted" class="errormsg">First Name required</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Last Name</label>
                                            <div class="input-box">
                                                <input type="text" class="form-control" name="lastname" ng-model="register.LastName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">User Name</label>
                                            <div class="input-box">
                                                <input type="text" class="form-control" name="name" ng-model="register.Name" required>
                                                <span ng-show="formRegister.name.$invalid && formRegister.name.$error.required && submitted" class="errormsg">User Name required</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Email</label>
                                            <div class="input-box">
                                                <input type="email" class="form-control" name="email" ng-model="register.Email" required ng-pattern="emailpattern">
                                                <span ng-show="(formRegister.email.$error.pattern||formRegister.email.$error.required) && submitted" class="errormsg">Valid email required</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Password</label>
                                            <div class="input-box">
                                                <input type="password" ng-if="register.Id==0" class="form-control" name="password" ng-model="register.Password" required >
                                                <input type="password" ng-if="register.Id>0" class="form-control" name="password" ng-model="register.Password" ng-disabled="register.Id>0">
                                                <span ng-if="!register.Id>0" ng-show="formRegister.password.$invalid && formRegister.password.$error.required && submitted" class="errormsg">Password required</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Confirm Password</label>
                                            <div class="input-box">
                                                <input type="password" ng-if="register.Id==0" class="form-control" name="confirm_password" ng-model="register.ConfirmPassword" required >
                                                <input type="password" ng-if="register.Id>0" class="form-control" name="confirm_password" ng-model="register.ConfirmPassword" ng-disabled="register.Id>0">
                                                <span ng-if="register.Id==0" ng-show="formRegister.confirm_password.$invalid && formRegister.confirm_password.$error.required && submitted" class="errormsg">Confirm Password required</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Contact</label>
                                            <div class="input-box">
                                                <input type="text" class="form-control" name="contact" ng-model="register.PhoneNumber" required>
                                                <span ng-show="formRegister.contact.$invalid && formRegister.contact.$error.required && submitted" class="errormsg">Contact required</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Address</label>
                                            <div class="input-box">
                                                <textarea class="form-control" rows="5" ng-model="register.Address"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Allow access to...</label>
                                            <div class="row">
                                                <div ng-repeat="chk in chkList" class="col-md-4">
                                                    <div class="chekbox-wrap">
                                                        <input type="checkbox" ng-model="chk.isChecked" ng-click="updateCheckVal(chk)" />
                                                        <label>{{chk.name}}</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <div class="search-button pull-right">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6">
                                                        <button type="button" class="theme-btn" ng-click="closeForm()">Cancel</button>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6">
                                                        <button type="submit" class="theme-btn">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container loder-overlay" ng-show="loader">
                <button class="btn btn-lg loder"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
            </div>
        </div>
        <div class="order-list-view">
            <table width="100%" class="table table-curved table-header">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Address</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
            <div class="table-content">
                <table width="100%" class="table table-curved table-fixed">
                    <tbody ng-cloak ng-repeat="user in users|filter:{Name:userNameSearch,Email:emailSearch}">

                        <tr>
                            <td>{{user.Name}}</td>
                            <td>{{user.Email}}</td>
                            <td>{{user.PhoneNumber}}</td>
                            <td>{{user.Address}}</td>
                            <td>
                                <a class="edit" ng-click="editUser(user)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a class="delete" ng-click="deleteUser(user)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                <a class="reset" ng-click="showResetForm(user)"><i class="fa fa-repeat" aria-hidden="true" data-toggle="modal" data-target="#reset"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        $("#aUser").addClass("active");
    })
</script>