﻿
@{
    ViewBag.Title = "CreateOrder";
}
@Scripts.Render("~/bundles/angular/OrderPOService")
@Scripts.Render("~/bundles/angular/OrderPOCtrl")
<div class="main-container create-order-container" ng-controller="OrderPOCtrl">
    <div class="container-fluid">
        <div class="search-wrap">
            <!--/Title-Block-->
            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <h1 class="page-title">Create PO</h1>
                </div>
            </div>
            <div class="search-block">
                <form name="formSearchOrder" ng-submit="searchOrder()" novalidate>
                    <div class="row">
                        <div class="col-sm-4 col-md-4" ng-cloak>
                            <div class="form-group">
                                <label class="control-label">Client</label>
                                <select class="form-control" id="client" ng-change="getAllPO_Numbers()" name="clientOrder"
                                        ng-model="searchOrderPO.clientId" ng-options="client.id as client.name for client in clients" required></select>
                                <span ng-show="formSearchOrder.clientOrder.$invalid && formSearchOrder.clientOrder.$error.required && searchSubmit" class="errormsg">Client is required</span>

                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4" ng-if="po_numbers.length>0" ng-cloak>
                            <div class="form-group">
                                <label class="control-label">PO Number</label>
                                <select class="form-control" id="PO_Number" ng-model="searchOrderPO.po_number" required name="poOrder"
                                        ng-options="po_number as po_number for po_number in po_numbers"></select>
                                <span ng-show="formSearchOrder.poOrder.$invalid && formSearchOrder.poOrder.$error.required && searchSubmit" class="errormsg">PO Number is required</span>

                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4" ng-if="po_numbers.length>0"  ng-cloak>
                            <div class="form-group">
                                <label class="control-label">Paper Type</label>
                                <select class="form-control" id="PaperType" ng-model="searchOrderPO.paperTypeId"
                                        ng-options="paper.id as paper.name for paper in paperTypes"></select>

                            </div>
                        </div>                        
                        <div class="col-sm-4 col-md-4" ng-if="searchOrderPO.paperTypeId==2" ng-cloak>
                            <div class="form-group">
                                <label class="control-label">Vendor</label>
                                <select class="form-control" ng-init="showVendors()" id="vendor" name="vendorOrder" ng-model="searchOrderPO.vendor_id" required
                                        ng-options="vendor.id as vendor.name for vendor in vendors"></select>
                                <span ng-show="formSearchOrder.vendorOrder.$invalid && formSearchOrder.vendorOrder.$error.required && searchSubmit" class="errormsg">Vendor is required</span>

                            </div>
                        </div>
                        <div class="col-sm-4 col-md-2 pull-right">
                            <div class="search-button">
                                <button type="submit" class="theme-btn">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Create Order Model Window-->
            <div class="client-detail-wrap modal fade" id="client-form" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="mySmallModalLabel" aria-hidden="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                    data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title">Create PO</h4>
                        </div>
                        <!-- Modal Body -->
                        <form name="formOrder" ng-submit="addOrder()" novalidate>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Vendor</label>
                                            <div class="input-box" ng-if="searchOrderPO.paperTypeId==1">
                                                <select class="form-control" id="vendor" name="vendor" ng-change="changeVendor(OrderPO)" ng-model="OrderPO.vendor_id" required ng-options="vendor.id as vendor.name for vendor in vendors"></select>
                                                <span ng-show="formOrder.vendor.$invalid && formOrder.vendor.$error.required && submitted" class="errormsg">Vendor is required</span>
                                            </div>
                                            <div class="input-box" ng-if="searchOrderPO.paperTypeId==2" >
                                                <select disabled class="form-control" id="vendor" name="vendor"  ng-model="OrderPO.vendor_id" required ng-options="vendor.id as vendor.name for vendor in vendors"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Freight</label>
                                            <div class="input-box">
                                                <select class="form-control" id="Freight" name="freight" ng-model="OrderPO.freight_type" ng-options="freight.id as freight.freight_type for freight in freightTypes"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Manual PO Number</label>
                                            <div class="input-box">
                                                <input type="text" class="form-control" name="po_number" ng-model="OrderPO.manual_po_number" required>
                                                <span ng-show="formOrder.po_number.$invalid && formOrder.po_number.$error.required && submitted" class="errormsg">PO number is required</span>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Delivery At</label>
                                                <div class="input-box">
                                                    <textarea class="form-control" name="deliveryAt" ng-model="OrderPO.delivery_address" rows="5" id="delivery" required></textarea>
                                                    <span ng-show="formOrder.deliveryAt.$invalid && formOrder.deliveryAt.$error.required && submitted" class="errormsg">Delivery address is required</span>
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Buyer</label>
                                            <div class="input-box">
                                                <select class="form-control" id="buyer" name="buyer" ng-model="OrderPO.Buyer" ng-options="client.name for client in clients track by client.name"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Consignee</label>
                                            <div class="input-box">
                                                <select class="form-control" id="consignee" name="consignee" ng-model="OrderPO.Consignee" ng-options="client.name for client in clients track by client.name"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Delivery</label>
                                            <div class="input-box">
                                                <select class="form-control" id="delivery" name="delivery" ng-model="OrderPO.Delivery" ng-options="client.name for client in clients track by client.name"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Notes</label>
                                            <div class="input-box">
                                                <textarea class="form-control" name="notes" rows="5" id="notes" ng-model="OrderPO.notes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="button-group pull-right">
                                            <button type="button" class="theme-btn" ng-click="closeOrder()">Cancel</button>
                                            <button type="submit" class="theme-btn">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="container loder-overlay" ng-show="loader">
                    <button class="btn btn-lg btn-warning loder"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
                </div>
            </div>
        </div>
        <!--kraft Tables-->
        <div class="order-kraft">
            <div class="order-list-view" data-drop="true" ng-model='details1' jqyoui-droppable="{multiple:true}">
                <table width="100%" class="table table-curved table-header">
                    <thead>
                        <tr>
                            <th>Quality</th>
                            <th>GSM</th>
                            <th>Size</th>
                            <th>Size Type</th>
                            <th>Quantity Left</th>
                            <th style="width:6.5%;">Order Quantity</th>
                            <th>Unit</th>
                            <th ng-if="searchOrderPO.paperTypeId==2" style="width:6.5%;">Ream Weight</th>
                            <th>Rate</th>
                            <th>Rate Type</th>
                            <th>Delivery Date</th>
                        </tr>
                    </thead>
                </table>
                <div class="table-content table-content-wrap">
                    <table width="100%" class="table table-curved">
                        <tbody>
                            <tr ng-cloak ng-repeat="detail in details1" ng-model="details1" style="cursor:move" data-drag="true"
                                data-jqyoui-options="{ helper: 'clone',revert: 'invalid',appendTo:'body'}"
                                jqyoui-draggable="{index: {{$index}},animate:true}">
                                <td style="width: 11.11%;background:#fff;padding:12px 20px;">{{detail.quality}}</td>
                                <td style="width: 11.11%;background:#fff;padding:12px 20px;">{{detail.gsm}}</td>
                                <td ng-if="!detail.paper_breadth" style="width: 12.5%;background:#fff;padding:12px 20px;">{{detail.paper_length}}</td>
                                <td ng-if="detail.paper_breadth" style="width: 12.5%;background:#fff;padding:12px 20px;">{{detail.paper_length}}*{{detail.paper_breadth}}</td>
                                <td style="width: 11.11%;background:#fff;padding:12px 20px;">{{detail.size=='1'?'inch':'cm'}}</td>
                                <td style="width: 11.11%;background:#fff;padding:12px 20px;">{{detail.quantity_left}}</td>
                                <td style="width: 6.5%;background:#fff;padding:12px 20px;">
                                    <input type="text" name="quantity" ng-model="detail.ordered_quantity" class="form-control" maxlength="7" onkeypress='return isNumber(event)'>
                                    @*<span class="errormsg" ng-show="(detail.ordered_quantity < 0 || detail.ordered_quantity > detail.quantity_left)">Quantity not valid</span>*@
                                </td>
                                <td style="width: 11.11%;background:#fff;padding:12px 20px;">{{typeName(detail.unit,unitTypes,2)}}</td>
                                <td ng-if="searchOrderPO.paperTypeId==2" style="width: 6.5%;background:#fff;padding:12px 20px;">{{detail.rim_weight | number : 2}}</td>
                                <td style="width: 11.11%;background:#fff;padding:12px 20px;">{{detail.rate}}</td>
                                <td style="width: 11.11%;background:#fff;padding:12px 20px;">{{typeName(detail.rate_type_id,rateTypes,1)}}</td>
                                <td style="width: 11.11%;background:#fff;padding:12px 20px;">{{detail.delivery_date}}</td>
                            </tr>
                            <tr>
                                <td colspan="11">
                                    <div class="drop-row">
                                        Drag Item from below to this table to create an order
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="search-wrap">
                <div class="col-sm-4 col-md-4 pull-right">
                    <div class="save-button pull-right">
                        <button type="button" class="theme-btn" data-toggle="modal" ng-disabled="details1.length==0" data-target="#client-form" ng-click="showOrder()">Create Order</button>
                    </div>
                </div>
            </div>
            <!--Table Bottom-->
            <div class="order-list-view" data-drop="true" ng-model='details' jqyoui-droppable="{multiple:true}">
                <table width="100%" class="table table-curved table-header">
                    <thead>
                        <tr>
                            <th>Quality</th>
                            <th>GSM</th>
                            <th>Size</th>
                            <th>Size Type</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th ng-if="searchOrderPO.paperTypeId==2" style="width:6.5%;">Ream Weight</th>
                            <th>Rate</th>
                            <th>Rate Type</th>
                            <th>Delivery Date</th>
                        </tr>
                    </thead>
                </table>
                <div class="table-content table-content-wrap">
                    <table width="100%" class="table table-curved">
                        <tbody>
                            <tr ng-cloak ng-repeat="detail in details" ng-model="details" style="cursor:move;" data-drag="true"
                                data-jqyoui-options="{ helper: 'clone',revert: 'invalid',appendTo:'body'}"
                                jqyoui-draggable="{index: {{$index}},animate:false}">
                                <td style="width: 11.11%;background:#fff;padding:12px 20px;">{{detail.quality}}</td>
                                <td style="width: 12.5%;background:#fff;padding:12px 20px;">{{detail.gsm}}</td>
                                <td ng-if="!detail.paper_breadth" style="width: 12.5%;background:#fff;padding:12px 20px;">{{detail.paper_length}}</td>
                                <td ng-if="detail.paper_breadth" style="width: 12.5%;background:#fff;padding:12px 20px;">{{detail.paper_length}}*{{detail.paper_breadth}}</td>
                                <td style="width: 12.5%;background:#fff;padding:12px 20px;">{{detail.size=='1'?'inch':'cm'}}</td>
                                <td style="width: 12.5%;background:#fff;padding:12px 20px;">{{detail.quantity_left}}</td>
                                <td style="width: 12.5%;background:#fff;padding:12px 20px;">{{typeName(detail.unit,unitTypes,2)}}</td>
                                <td ng-if="searchOrderPO.paperTypeId==2" style="width: 6.5%;background:#fff;padding:12px 20px;">{{detail.rim_weight | number : 2}}</td>
                                <td style="width: 12.5%;background:#fff;padding:12px 20px;">{{detail.rate}}</td>
                                <td style="width: 12.5%;background:#fff;padding:12px 20px;">{{typeName(detail.rate_type_id,rateTypes,1)}}</td>
                                <td style="width: 12.5%;background:#fff;padding:12px 20px;">{{detail.delivery_date}}</td>
                            </tr>
                            <tr ng-show="details.length==0">
                                <td colspan="9">
                                    <div class="drop-row">
                                        No Records found
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $("#aOrder").addClass("active");
        })
    </script>
